.app {
  text-align: center;
  padding: 5px;
  min-width: 320px;
  max-width: 414px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #9e9e9e38;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: solid;
  border-width: thin;
  border-color: #8e8e8e40;
  padding: 5px;
}

.body {
  background-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: solid;
  border-width: thin;
  border-color: #8e8e8e40;
  border-top: hidden;
  padding: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.split {
  width: 95%;
}

.upper-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}

.temperature {
  font-size: 30px;
}

.weather-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.weather-icon {
  position: absolute;
  left: 50%;
}

.wrap {
  word-wrap: break-word;
}

/* appear - on page load */
.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms linear 500ms;
}

/* exit */
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms linear;
}
.fade-exit-done {
  opacity: 0;
}
