hr {
  border: 0.5px solid;
  border-color: #8e8e8e40;
  width: 95%;
}

main {
  min-height: 88vh;
}

.app {
  text-align: center;
  padding: 5px;
  max-width: 414px;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container:hover {
  cursor: pointer;
}

.details {
  text-decoration: underline;
  font-size: 10px;
  color: blue;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #9e9e9e38;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: solid;
  border-width: thin;
  border-color: #8e8e8e40;
  padding: 5px;
}

.body {
  background-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: solid;
  border-width: thin;
  border-color: #8e8e8e40;
  border-top: hidden;
  padding: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.summary {
  margin: 5px;
}

.weather-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.weather-icon {
  position: absolute;
  left: 50%;
}

/* appear - on page load */
.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms linear 500ms;
}

/* exit */
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms linear;
}
.fade-exit-done {
  opacity: 0;
}
