.container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #9e9e9e38;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: solid;
  border-width: thin;
  border-color: #8e8e8e40;
  padding: 5px;
}

.body {
  background-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: solid;
  border-width: thin;
  border-color: #8e8e8e40;
  border-top: hidden;
  padding: 5px;
}
